*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../images/endless-repetitive-pattern-night-sky-stars-photo_728322-539.avif');
}

.nav-item{
    font-size: 24px;
    color: #ac8737;
}